.member-login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.member-login > * {
  background: #007bff;
  color: #fff;
  width: 250px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
}
.member-login > * + * {
  margin-left: 1rem;
}
.member-login > a:hover {
  color: #fff;
  text-decoration: none;
}
