.PastorPortal {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-auto-rows: 40px;
  grid-gap: 1rem;
}

.pastor-portal-main-heading {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 2rem;
}
.PastorPortal a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ee82ee;
  justify-content: center;
  font-size: 15px;
  border-radius: 99px;
  padding: 0rem 0.5rem;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  /* font-weight: 600; */
}
.PastorPortal a:hover {
  font-weight: 600;
}
.pastor-portal-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pastor-portal-type form > * + * {
  margin-top: 1rem;
}
.pastor-portal-type form .text-area-wrapper textarea {
  width: 500px;
  height: 200px;
  resize: none;
  display: block;
  border: 1px solid #ddd;
  padding: 0.5rem 0.8rem;
  outline: none;
  border-radius: 5px;
}
.pastor-portal-type form .text-area-wrapper label {
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.pastor-portal-type form input[type="submit"] {
  display: block;
  background-color: #1adf73;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 5px;
  width: 500px;
  height: 45px;
}
