@media all and (min-width: 480px) {
  .Register {
    padding: 60px 0;
  }

  .Register form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.asking-member-text{
  display:flex;
  justify-content: "flex-start";
  align-items: center;
  margin-bottom: 2%;
  font-weight: bold;
  color: gray;
}